.jumbotron{
    background-image: url("./images/coffee.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    margin: 50px;
    height: 200px;
}   
h1{
    font-style: italic;
    font-style: bold;
    color: rgb(10, 119, 243);
    font-family: Georgia, 'Times New Roman', Times, serif
}
p{
    font-style: italic;
    color: rgb(10, 119, 243);
    font-size: 30px;
    font-style:bolder;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.btn{
    background-color:  rgb(10, 119, 243);
}
#mytextContainer {
    padding-bottom: 80px;
}
#surveyBody {
    background-color:  rgb(10, 119, 243);
}